@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #C8A2D6;
  --color-secondary: #CFDDDB;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #C8A2D6;
  --color-secondary: #CFDDDB;
  --color-base-100: #121212; /* ← darker background */
  --color-base-200: #1A1A1A;
  --color-base-300: #2A2A2A;

}