@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default, light;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;

  --color-primary: #C8A2D6;
  --color-secondary: #CFDDDB;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-primary: #C8A2D6;
  --color-secondary: #CFDDDB;
}